.form-container {
    background: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2{
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 25px;
    top: 35%;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

#error-message {
    color: red;
    margin-top: 10px;
}
/* Logout Button Styling */
.logout-btn {
    display: block;
    text-align: center;
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.logout-btn:hover {
    background-color: #4e83ee;
}

/* Absolute positioning method */


